@import "./variables";

.header {
  background-color: #000000;
  height: $toolbarHeight;

  @media (max-width: $smMax) {
    height: $toolbarHeightMobile;
  }

  .logo-link {
    color: #ffffff;
  }
}
