.logo-link {
  font-size: 1.5em;
  text-decoration: none !important;
  transition: filter 200ms;
  font-weight: 600;

  &:hover {
    filter: blur(1px);
  }

  .logo {
    width: 40px;

    @media (max-width: $smMax) {
      width: 35px;
    }
  }
}
