@import "./variables";

.mobile-menu-container {
  position: fixed;
  z-index: 10000000;
  height: calc(100% - #{$toolbarHeightMobile});
  width: 100%;
  top: $toolbarHeightMobile;
  right: -100%;
  background-color: var(--background-color);
  overflow: auto;
  padding: 15px 25px;
  transition: right 350ms ease-in-out;

  &.open {
    right: 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    margin: 0;
    padding: 0;

    .mobile-nav-button {
      font-size: 1.2em;
      position: relative;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      text-decoration: none;
      white-space: nowrap;
      padding: 6px 12px;
      color: var(--color);

      &.selected {
        background-color: var(--active-background-color);

        &::before {
          content: "";
          border-top-left-radius: var(--border-radius);
          border-bottom-left-radius: var(--border-radius);
          height: 100%;
          width: 3px;
          position: absolute;
          // left: -8px;
          left: -2px;
          top: 0;
          background-color: var(--primary-color);
        }
      }
    }
  }
}

.main-nav {
  height: 100%;

  .main-nav-button {
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    padding: 4px 12px;
    border-radius: var(--border-radius);
    transition: background-color 175ms;
    font-size: 0.9em;

    &:hover, &.selected {
      background-color: var(--hover-background-color);
    }

    &:active {
      background-color: var(--active-background-color);
    }
  }
}
