$paletteBlue: #4285f4;
$paletteDarkBlue: #01579b;
$paletteYellow: #fbbc05;
$paletteRed: #ea4335;
$paletteGreen: #24a853;
$paletteOrange: #ff8f00;
$paletteDarkGray: #2F3436;
$paletteLightGray: #d3d3d3;
$palettePink: #ff0080;
$palettePurple: #7928ca;
$paletteTan: #f7efcb;
$paletteBrown: #544130;

$primaryColor: $paletteBlue;

$lightBg: #ffffff;
$lightSecondaryBg: #f5f5f7;
$lightColor: #1a1816;
$lightShadowColor: #6a5c46;
$darkBg: #141414;
$darkSecondaryBg: #1d1d1f;
$darkColor: #f1f1f1;
$lightBorderColor: #cfcfcf;
$lightBorderLighterColor: lighten($lightBorderColor, 15%);
$darkBorderColor: #333333;
$darkBorderLighterColor: darken($darkBorderColor, 10%);
$darkShadowColor: #313030;
$lightHoverBgColor: darken($lightBg, 15%);
$darkHoverBgColor: lighten($darkBg, 15%);
$lightActiveBgColor: darken($lightBg, 9%);
$darkActiveBgColor: lighten($darkBg, 9%);

$borderRadius: 5px;

$navZIndex: 1000000;

$dialogPadding: 10px;
$dialogZIndex: $navZIndex * 10;

$successColor: $paletteGreen;
$errorColor: $paletteRed;

$toolbarHeight: 65px;
$toolbarHeightMobile: 55px;

$animationSpeed: 350ms;

$xsMax: 767px;
$smMax: 992px;
$mdMax: 1200px;
$smMin: $xsMax + 1px;
$mdMin: $smMax + 1px;
$lgMin: $mdMax + 1px;
