@import "./variables";

.feed-articles-small {
  .article {
    border-bottom: 1px solid var(--border-color);
    padding: 15px 0;

    .feed-icon-wrapper {
      width: 16px;
      height: 16px;

      .feed-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
        transition: opacity $animationSpeed;

        &:hover {
          opacity: 1;
        }
      }
    }

    .title {
      color: var(--color);
      transition: color $animationSpeed;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &.three-column-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

    .article {
      flex-basis: 49%;
      padding: 0 0 15px 0;

      @media(max-width: $smMax) {
        flex-basis: 100%;
      }
    }
  }
}

// .feed-articles-horizontal {
//   max-width: 700px;

//   .article {
//     .image {
//       width: 175px;
//       height: 125px;
//       object-fit: cover;
//       border-radius: $borderRadius;

//       @media (max-width: $xsMax) {
//         width: 100%;
//         height: 200px;
//       }
//     }

//     .title {
//       font-weight: 700;
//       color: var(--color);
//       transition: color $animationSpeed;
//       font-size: 1.2em;

//       &:hover {
//         color: var(--primary-color);
//       }
//     }

//     .content-snippet, .meta-data {
//       font-size: .8em;
//       opacity: .7;
//       transition: opacity $animationSpeed;

//       &:hover {
//         opacity: 1;
//       }
//     }

//     .feed-title {
//       color: var(--color);

//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   }
// }
