@import "./variables";

.section {
  padding: 75px 0;

  &.no-padding-top {
    padding-top: 0;
  }

  .section-header {
    margin-bottom: 45px;
  }
}

.highlighted-section {
  background-color: darken($primaryColor, 20%);
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 0 10px var(--shadow-color);

  @media (max-width: $smMax) {
    padding: 30px;
  }
}
